
.selectInfo-box {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  z-index: 11;
  /* background-color: ivory; */
}
.selectInfo-box > div {
  width: 100%;
  overflow: hidden;
}
.selectInfo-box .detail {
  height: 45%;
  overflow: scroll;
}
.selectInfo-box .button {
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-image {
  top: 15%;
  width: 100%;
  height: 50%;
  /* background-color: black; */
}

.info-left-half,
.info-right-half {
  height: 100%;
  width: 50%;
}

.info-left-half {
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  /* background-color: red; */
  border-right: white 1px solid;
  float: left;
}
.info-right-half {
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  /* background-color: blue; */
  border-left: white 1px solid;
  float: right;
}

.info-left-half-first {
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  float: left;
}
.info-right-half-first {
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  float: right;
}
.info-image-wrap {
  border: 4px solid white;
  -moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
}
.info-image-wrap {
  margin-left: 7.4%;
  margin-top: 17%;
  z-index: 1;
  width: 85%;
  height: 71%;
  /* display: block; */
  display: inline-block;
  /* margin: 0 auto; */
  /* margin-bottom: 1.0em; */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  line-height: 0;
  text-align: center;
  /* background-color: black; */
  /* background-image: url("@/assets/img/category/c01.jpeg"); */
  background-size: cover;
  /* transform: rotate(45deg); */
}
.info-ingerdient_name {
  font-style: bold;
  font-size: 40px;
  text-align: center;
  height: 1.5em;
  margin: 0 auto;
  /* background-color: blue; */
}
.info-close {
  position: fixed;
  z-index: 10;
  top: 14%;
  left: 77.5%;
  width: 1em;
  height: 1em;
  /* background-image: url("../../assets/img/close.png"); */
  background-size: cover;
}
.info-left-icon {
  top: 50%;
}

/* ------------- slider */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html, body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #000;
} */

svg {
  display: block;
  overflow: visible;
}

.slider-container {
  position: relative;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: all-scroll;
}

.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
}
.slider-control.inactive:hover {
  cursor: auto;
}
.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}
.slider-control.left {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.18) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.slider-control.right {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.18) 100%
  );
}

.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 1.6rem;
  transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
}
.slider-pagi_elem {
  position: relative;
  display: inline-table;
  vertical-align: top;
  width: 0.6rem;
  height: 0.6rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 2px solid black;
  opacity: 0.9;
  cursor: pointer;
}
.slider-pagi_elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.6rem;
  height: 0.6rem;
  background: black;
  border-radius: 50%;
  transition: transform 0.3s;
  transform: translate(-50%, -50%) scale(0);
}

.slider-pagi_elem.active:before {
  transform: translate(-50%, -50%) scale(1);
}

.slider-pagi_elem.active:after {
  transform: translate(-50%, -50%) scale(0);
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider.animating {
  transition: transform 0.5s;
  will-change: transform;
}
.slider.animating .slide_bg {
  transition: transform 0.5s;
  will-change: transform;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide.active .slide_overlay,
.slide.active .slide_text {
  opacity: 1;
  transform: translateX(0);
}
.slide_bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
}
.slide:nth-child(1) {
  left: 0;
}
.slide:nth-child(1) .slide_bg {
  left: 0;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-3.jpg");
}
.slide:nth-child(1) .slide_overlay-path {
  fill: #e99c7e;
}
@media (max-width: 991px) {
  .slide:nth-child(1) .slide_text {
    background-color: rgba(233, 156, 126, 0.8);
  }
}
.slide:nth-child(2) {
  left: 100%;
}
.slide:nth-child(2) .slide_bg {
  left: -50%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-2.jpg");
}
.slide:nth-child(2) .slide_overlay-path {
  fill: #e1ccae;
}
@media (max-width: 991px) {
  .slide:nth-child(2) .slide_text {
    background-color: rgba(225, 204, 174, 0.8);
  }
}
.slide:nth-child(3) {
  left: 200%;
}
.slide:nth-child(3) .slide_bg {
  left: -100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-1.jpg");
}
.slide:nth-child(3) .slide_overlay-path {
  fill: #adc5cd;
}
@media (max-width: 991px) {
  .slide:nth-child(3) .slide_text {
    background-color: rgba(173, 197, 205, 0.8);
  }
}
.slide:nth-child(4) {
  left: 300%;
}
.slide:nth-child(4) .slide_bg {
  left: -150%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-4.jpg");
}
.slide:nth-child(4) .slide_overlay-path {
  fill: #cbc6c3;
}
@media (max-width: 991px) {
  .slide:nth-child(4) .slide_text {
    background-color: rgba(203, 198, 195, 0.8);
  }
}
.slide:nth-child(5) {
  left: 400%;
}
.slide:nth-child(5) .slide_bg {
  left: -200%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-4.jpg");
}
.slide:nth-child(5) .slide_overlay-path {
  fill: #cbc6c3;
}
@media (max-width: 991px) {
  .slide:nth-child(5) .slide_text {
    background-color: rgba(203, 198, 195, 0.8);
  }
}
.slide:nth-child(6) {
  left: 500%;
}
.slide:nth-child(6) .slide_bg {
  left: -250%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-4.jpg");
}
.slide:nth-child(6) .slide_overlay-path {
  fill: #cbc6c3;
}
@media (max-width: 991px) {
  .slide:nth-child(6) .slide_text {
    background-color: rgba(203, 198, 195, 0.8);
  }
}
.slide:nth-child(7) {
  left: 600%;
}
.slide:nth-child(7) .slide_bg {
  left: -300%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-4.jpg");
}
.slide:nth-child(7) .slide_overlay-path {
  fill: #cbc6c3;
}
@media (max-width: 991px) {
  .slide:nth-child(7) .slide_text {
    background-color: rgba(203, 198, 195, 0.8);
  }
}
.slide_content {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
.slide_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 810px;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  will-change: transform, opacity;
  transform: translate3d(-20%, 0, 0);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide_overlay {
    display: none;
  }
}
.slide_overlay path {
  opacity: 0.8;
}
.slide_text {
  position: absolute;
  width: 25%;
  top: 50%;
  left: 12%;
  color: #fff;
  border-radius: 4.5%;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  will-change: transform, opacity;
  transform: translateY(-50%);
  opacity: 0;
  box-shadow: 0 -0.2em 0.4em gray;
}
@media (max-width: 991px) {
  .slide_text {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20rem;
    text-align: center;
    transform: translateY(50%);
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    padding: 0 1rem;
  }
}
.slide_text-heading {
  z-index: 1;
  font-family: "Polar", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  height: 17%;
  margin-bottom: 1.3rem;
  top: 2%;
  text-align: center;
}
@media (max-width: 370px) {
  .slide_text-heading {
    line-height: 20rem;
    font-size: 3.5rem;
  }
}
.slide_text-desc {
  /* z-index: 1; */
  top: 8%;
  font-size: 1.5rem;
  /* margin-bottom: 1.5rem; */
  text-align: center;
}
.slide_clear {
  /* top: 35%; */
  vertical-align: center;
  font-size: 3.9rem;
  /* margin-bottom: 1.5rem; */
  text-align: center;
  color: green;
}
.slide_clear_container {
  animation: bounce;
  --animate-repeat: 2;
}
.slide_text-desc_clear {
  top: 3%;
  vertical-align: center;
  font-size: 1.1rem;
  /* margin-bottom: 1.5rem; */
  text-align: center;
  color: black;
}
/* === */
.po_ani {
  top: 35%;
}



.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-img .title{
  text-align: center;
  font-size: 1.5em;
}
.modal-img .content{
  text-align: center;
  font-size: 1em;
}