.MaterialRecommend-container {
  color: black;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 15vh;
}

.MaterialRecommend-container .recommend {
  overflow: hidden;
  position: relative;
  color: black;
  font-size: 14px;
  height: 100vh;
  width: 100%;
  background-color: white;
  /* margin-bottom: 5em; */
  /* border-left: 0.3em solid #f3951b;
  border-right: 0.3em solid #f3951b;
  border-bottom: 0.3em solid #f3951b; */
  /* border-radius: 1em; */
  /* box-shadow: 0 0 2.3em -1em black; */
}

/*** 카드 상단 ***/
.MaterialRecommend-container .recommend .recipe-card-main {
  height: 75%;
  width: 100%;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    var(--bg-img);

  padding: 0.2em;
  font-size: 1.5em;
  /* border-radius: 1em; */
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 60px), 0 100%);
  background-color: #f3951b;
  transition: all, var(--transition-time);
  /* transition: background-color 200ms ease; */
  text-align: left;
}

.MaterialRecommend-container .recommend .recipe-card-image {
  height: 70%;
  width: 95%;
  max-width: 180%;
  margin-top: 1em;
  margin: 0.5em;
  background-size: cover;
  text-align: center;
  border-radius: 20px;
  /* box-shadow: 5px 5px 5px rgb(184, 183, 183); */
}

.MaterialRecommend-container .recommend .recipe-card-name {
  position: relative;
  height: 20%;
  width: 91%;
  padding: 0.1em;
  margin-top: 1em;
  margin-left: 0.5em;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.04em;
  color: white;
}

/*** 카드 하단 ***/
.MaterialRecommend-container .recommend .recipe-card-footer {
  position: absolute;
  width: 100%;
  height: 40%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  background-color: white;
  padding-top: 1em;
}

.MaterialRecommend-container .recommend .recipe-text {
  width: 100%;
  padding: 0em 0.5em;
  margin-left: 13%;
  font-size: 15.5px;
  line-height: 20px;
  letter-spacing: 0.07em;
  font-size: inherit;
}

/** Ingredients **/

.ingredients-title {
  margin: 0;
  margin-left: 17.5%;
  font-size: 15px;
}

.ingredients {
  width: 70%;
  padding: 3px;
  margin: 0;
  margin-left: 18%;
  list-style: none;
}

.ingredient {
  padding: 0.5em 0;
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
}

.ingredient:not(:last-child) {
  border-bottom: 2px dotted #ddd;
}

.recipe-card-footer .nutrition-left {
  text-align: left;
  padding-right: 3px;
  width: 10em;
}

.recipe-card-footer .nutrition-right {
  text-align: left;
  width: 11em;
}

.recipe__icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 1em;
  left: 1em;
  fill: #aaa;
  transition: fill 200ms ease;
}

/** Like Button **/

.recipe-card-footer .like-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  /* border: 0.2em solid #40aa57; */
  border: 0.25em solid #40aa57;
  position: absolute;
  padding: 2px;
  top: -25%;
  right: 20px;
  z-index: 100;
  border-radius: 50%;
  background-color: #40aa57;
  /* background-color: rgba(97, 82, 82, 0.5); */
  /* box-shadow: 0 1px 5px #40aa57; */
  transition: box-shadow 200ms ease, transform 200ms ease;
  cursor: pointer;
  outline: none;
  z-index: 150;
}

.recipe-card-footer .like-btn #like-btn-for-parent {
  position: absolute;
  z-index: 150;
  font-size: 2em;
  left: 25%;
  top: 20%;
  color: white;
}

.recipe-card-footer .like-btn #like-btn-for-child {
  position: absolute;
  z-index: 150;
  font-size: 2.1em;
  left: 17%;
  top: 17%;
  color: white;
}

.recipe-card-footer .like-btn:active {
  transform: scale(1.1);
}

/**** 스크롤 버튼 ****/
.scroll-btn {
  width: 25.5px;
  height: 25.5px;
  display: block;
  background: transparent;
  background-size: 12px;
  border-radius: 100%;
  /** top 테두리 **/
  border: 2px solid #40aa57;
  position: fixed;
  z-index: 100;
  bottom: 10px;
  padding: 8px;
  left: 6px;
  cursor: pointer;
}

.scroll-btn i {
  color: #40aa57;
  margin: -10px -6px;
  font-size: 20px;
  margin-left: -6px;
}

/* modal */
.MaterialRecommend-container .send-modal {
  backdrop-filter: saturate(100%) blur(3px);
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 30;
  border-radius: 1rem;
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  transition: all 0.3s;
}

.MaterialRecommend-container .send-recipe {
  width: 70vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3em 1em;
  background: white;
  box-shadow: 20px 20px 20px grey;
  border-radius: 25px;
}

.MaterialRecommend-container .send-recipe .send-modal-content {
  font-size: 20px;
  color: #40aa57;
}
