.TodayTip-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  top: 0;
  left: 0;
  position: fixed;
  /* justify-content: center; */
  
  z-index: 5;
  background: rgba(0, 0, 0, .7);
  backdrop-filter: saturate(180%) blur(3px);
}
.TodayTip-container .box{
  /* background:rgb(236, 230, 219); */
  border: solid rgb(236, 230, 219) 1px;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
  border-radius: 10px;
  max-width: 400px;
  width: 70%;
  height: 75%;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.TodayTip-container .box .close {
  height: 5%;
  display: flex;
  justify-content: flex-end;
  padding-right: 6%;
  padding-top:1%;
  font-size: 1.5rem;
  align-items: flex-end;
}

.TodayTip-container .box > div{
  width: 100%;
  overflow: hidden;
}
.TodayTip-container .box .img-box{
  display: flex;
  margin-top: 10%;
  /* justify-content: center; */
  
}
/* .TodayTip-container .box > div .img{
  border-radius: 50%;
  width: 80%;
  height: 100%;
} */
.TodayTip-container .box .name{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  
  height: 15%;
  border-bottom: solid rgb(210, 216, 191) 1px;
}

/* .TodayTip-container .box .detail{
  height: 45%;
  overflow: scroll;
  border-bottom: solid rgb(210, 216, 191) 1px;
} */

.TodayTip-container .box .button-group .button1,
.TodayTip-container .box .button-group .button2
{
  width: 60%;
  /* opacity: ; */
  text-align: center;
  border-radius: 10px;
  background: #f3951b;
  color:white;
  margin-top: 10%;
  transition: 0.25s cubic-bezier(0.25, 0, 0, 1);
  border-radius: 60% 20px 20px 60%;
  /* align-items: center; */
}
.TodayTip-container .box .button{
  height: 20%;
  width: 100%;
  padding-top: 7%;
  text-align: center;
  font-size: 1.2rem;
  /* align-items: center; */
}
.TodayTip-container .box .button > button{
 
  width: 60%;

  text-align: center;
  border-radius: 10px;
  background: #f3951b;
  color:white;
  margin-top: 10%;
  transition: 0.25s cubic-bezier(0.25, 0, 0, 1);
  border-radius: 60% 20px 20px 60%;
  
  
}
.TodayTip-container .box .button .leaves-1,
.TodayTip-container .box .button .leaves-2,
.TodayTip-container .box .button .leaves-3{
  position: absolute;
  z-index: 3;
  width: 4px;
  height: 4px;
  border-right: 40px solid #40aa57;
  border-bottom: 10px solid transparent;
  border-radius: 50%;
  transition: 0.25s cubic-bezier(0.25, 0, 0, 1);
  right: 6%;
  /* top:6%; */
  
}
.TodayTip-container .box .button .leaves-1{
  transform: rotate(-30deg);
  top:40%;
}
.TodayTip-container .box .button .leaves-2{
  top:50%;
}
.TodayTip-container .box .button .leaves-3{
  transform: rotate(30deg);
  top:60%
}
#imagePreview {
  background-size: cover;
  width:70vw ;
  height:70vw;
  border-radius: 50%;
  /* border: 1px black solid; */
  z-index: 3;
  
  
}
@media(max-height: 400px) {
  .TodayTip-container .box {
    
  }
}

