
# Created by https://www.toptal.com/developers/gitignore/api/vscode,venv
# Edit at https://www.toptal.com/developers/gitignore?templates=vscode,venv

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/vscode,venv
/.idea/formychild.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
